  > * To avoid programe conflicting, this file version will contain fully running code.   
  > * Libraries will be imported indepedently
  > * Variables will be declared consciously to cooperate with team members

In [6]:
# import required libraries

import alpaca_trade_api as tradeapi
import os
import pandas as pd
import requests

from dotenv import load_dotenv

# GETTING DATA

In [7]:
# Variables assigned above the dividing line, code after this line will be neat.
# set up this line of variables for customer to change
customer_request_starting_date = "2021-01-01"
customer_request_ending_date = "2021-12-31"
tickers = ["GILD", "MDLZ", "UAL", "DOV", "LYB"]

---

In [8]:
# STEP 1
# set API and create a Alpaca API opject 
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

alpaca = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version = "v2")

ValueError: ('Key ID must be given to access Alpaca trade API', ' (env: APCA_API_KEY_ID)')

In [4]:
# STEP 2
# modify the time which customers provied in ISO format
start_date = pd.Timestamp(customer_request_starting_date, tz = "America/New_York").isoformat()
end_date = pd.Timestamp(customer_request_ending_date, tz = "America/New_York").isoformat()

timeframe = "1Day"

In [5]:
# STEP 3
# get data from API and save it in a dataframe
df_portfolio = alpaca.get_bars(tickers, timeframe, start = start_date, end = end_date).df

NameError: name 'alpaca' is not defined

In [14]:
# STEP 4 
# review the dataframe
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-01-04 05:00:00+00:00,275.00,275.00,265.2000,268.94,15106165,201148,269.208613,FB
2021-01-05 05:00:00+00:00,268.29,272.40,268.2111,270.97,9871557,128145,270.988615,FB
2021-01-06 05:00:00+00:00,261.56,267.75,260.0100,263.31,24354621,303487,264.657687,FB
2021-01-07 05:00:00+00:00,265.90,271.61,264.7800,268.74,15789756,195125,268.977106,FB
2021-01-08 05:00:00+00:00,268.31,268.95,263.1800,267.57,18519252,248499,265.751606,FB
...,...,...,...,...,...,...,...,...
2021-12-27 05:00:00+00:00,44.21,44.92,44.1300,44.33,8594926,74327,44.469436,TWTR
2021-12-28 05:00:00+00:00,44.21,44.78,43.2300,43.43,8831036,76997,43.776774,TWTR
2021-12-29 05:00:00+00:00,43.17,43.55,42.5600,42.76,8719351,72680,42.824684,TWTR
2021-12-30 05:00:00+00:00,42.77,45.09,42.6300,44.46,14538382,110358,44.397860,TWTR
2021-12-31 05:00:00+00:00,44.22,44.76,43.1800,43.22,9828199,78082,43.682230,TWTR